@CHARSET "ISO-8859-1";
/* A dark translucent div that covers the whole screen */
.ng-modal-overlay {position:absolute;z-index:9999;top:0;left:0;width:100vw;
  height:100vh;background-color:#000000;opacity: 0.5;}
/* A centered div above the overlay with a box shadow. */
.ng-modal-dialog {z-index:10000;position: absolute;width: 50%;
	border-radius:10px;
	/* Center the dialog */
	top: 50vh;left: 50vw;
	transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);
	
	background-color: #fff;box-shadow: 4px 4px 80px #000;}
.ng-modal-dialog-content {padding:10px;text-align: left;}
.ng-modal-close {position: absolute;top: 3px;right: 5px;padding: 5px;cursor: pointer;
  font-size: 120%;display: inline-block;font-weight: bold;font-family: 'arial', 'sans-serif';}
  
#modalDialog button {width:80px;height:25px}
#modalDialog .profilePic {width:180px;height:180px;
	z-index:100;
	border:1px dotted black;
	background-position: center center;
	background-repeat: no-repeat;
	background-size:180px; border-radius:5px	
}
#modalDialog .addProfilePicture{position:absolute;z-index:100;font-size:10pt;padding:5px;
	border-radius:5px;background:#f1f1f1;opacity:0.7;
	transform: translate(20px, 80px);-webkit-transform: translate(20px, 80px);}