<panel-layout>
	<div name="west">
		<panel-div div-title="values.getValue('find_us')" bg="selectedColor">
			<div name="content" style="text-align:justify;">
				<img style="float:left" alt="" src="css/img/logo/so_logo_{{selectedColor.name}}.png" height="100px"/>
				<span ng-bind-html="values.getValue('swoptabout')"/>
			</div>
		</panel-div>
		<panel-div div-title="values.getValue('find_us')" bg="selectedColor">
			<div name="content">
				<b>Software Optima Sdn. Bhd.</b>
				<div>
					Lot. 322, Top Floor, Lorong Rubber 12,<br/>
					93200 Kuching, Sarawak,<br/>
					Malaysia
				</div>
				<table>
					<tr><td><img class="perImg" src="./css/img/phone2.png"/></td><td style="vertical-align: top">+60 82 245 191</td></tr>
					<tr><td><img class="perImg" src="./css/img/fax.png"/></td><td style="vertical-align: top">+60 82 245 966</td></tr>
				</table>
			</div>
		</panel-div>
		<panel-div div-title="values.getValue('find_out_more')" bg="selectedColor">
			<div name="content">
				{{values.getValue('subscribe_mailing_list')}}<br/>
				<input placeholder="{{values.getValue('name')}}" style="height:22px;margin-bottom:3px"/><br/>
				<input placeholder="{{values.getValue('email')}}" style="height:22px;margin-bottom:3px"/>
				<div style="text-align:center">
					<ok-btn text="values.getValue('submit')" style="'width:100%;height:25px'"></ok-btn>
				</div>
			</div>
		</panel-div>
	</div>
	<div name="center">
		<panel-div div-title="values.getValue('fis')" bg="selectedColor">
			<div name="content">
				<iframe src="http://softwareoptima.com" width="100%" height="900"/>
			</div>
		</panel-div>
	</div>
	<div name="east">
		<panel-div div-title="values.getValue('news')" bg="selectedColor">
			<div name="content">
				<div ng-repeat="newsItem in news">
					<panel-div-collapse div-title="newsItem.date" bg="selectedColor" show="true">
						<div name="content">
							<div ng-repeat="item in newsItem.items">
								<a style="color:black;text-decoration:none" href="{{item.link}}" target="_blank">{{item.title}}</a>
							</div>
						</div>
					</panel-div-collapse>
				</div>
			</div>
		</panel-div>
		<div style="position:absolute; margin:5px">
			
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=684029511647160&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like-box" data-width="100%" data-href="https://www.facebook.com/pages/Software-Optima-Sdn-Bhd/102903139876965" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
			
		</div>
	</div>
</panel-layout>