<div ng-class="loading" style="float:left; z-index:1000"></div>
<panel-layout>
	<div name="center">
		<panel-div div-title="values.getValue('personnel')" bg="selectedColor">
			<div name="buttons">
					<button class="btnAddL" 
						ng-click="showModal([],null,false)"
						title="add"></button>
			</div>
			<div name="content">
				<div style="display:table-cell" class="subcontent">
					<div style="padding: 5px;float:left" ng-repeat="per in pers">
						<personnel-card per="per" 
							del="showDelBox($index,$parent,0)"
							edit="showModal(per,$index,true,0)">
						</personnel-card>
					</div>
				</div>
			</div>
		</panel-div>
	</div>
	<div name="east">
		<panel-div div-title="values.getValue('toBeAdded')" bg="selectedColor" >
			<div name="buttons">
				<button class="btnAddL" title="add" ng-click="showModal([],null,false)"/>
				<button class="btnSaveL" title="save"/>
				<button class="btnClearL" title="clear" ng-click="clearList(1)"/>
			</div>
			<div name="content">
				<div style="display:table-cell" class="subcontent">
					<div style="padding: 5px;float:left" ng-repeat="per in toPost">
						<personnel-card per="per" 
							del="showDelBox($index,$parent,1)" 
							edit="showModal(per,$index,true,1)">
						</personnel-card>
					</div>
				</div>
			</div>
			
		</panel-div>
	</div>
</panel-layout>

<modal-dialog id="modalDialog" show="modalShown" width="500px" height="250px">
	<div style="text-align:center">{{values.getValue('add_personnel')}}</div>
	<div>
		<div ng-click="uploadProfilePic()" style="float:left">
			<div class="addProfilePicture" >Change Profile Picture</div>
			<div class="profilePic" style="background-image: url('{{profPic}}');"></div>
			<form enctype="multipart/form-data" action="./res/img/personnel" method="post">
			<input type="file" id="in_img_file" style="display:none"/>
			</form>
		</div>
		<div>
			<table>
				<tr><td>
					<input id="in_fname" placeholder="{{values.getValue('firstname')}}" value="{{selectedPer.firstname}}" autofocus/>
				</td></tr>
				<tr><td>
					<input id="in_lname" placeholder="{{values.getValue('lastname')}}" value="{{selectedPer.lastname}}"/>
				</td></tr>
				<tr><td>
					<table style="width:100%">
						<tr>
							<td>
								<select ng-model="selectedPer.genderDesc" 
									ng-change="changeGender(selectedPer.genderDesc)" 
									ng-options='gender for gender in genders'/>
							</td>
							<td><input id="in_post" placeholder="{{values.getValue('pers_position')}}" value="{{selectedPer.position}}"/></td>
						</tr>
					</table>
				</td></tr>
				<tr><td>
					<table style="width:100%">
						<tr>
							<td><img class="perImg" src="./css/img/phone1.png"/></td>
							<td>
								<input id="in_phone1" placeholder="{{values.getValue('contact')}} 1" value="{{selectedPer.contact1}}"
									style="width:100%"/>
							</td>
						</tr>
						<tr>
							<td><img class="perImg" src="./css/img/phone2.png"/></td>
							<td>
								<input id="in_phone2" placeholder="{{values.getValue('contact')}} 2" value="{{selectedPer.contact2}}"
									style="width:100%"/>
							</td>
						</tr>
					</table>
				</td></tr>
				<tr><td>
					<input type="email" id="in_email" placeholder="{{values.getValue('email')}}" value="{{selectedPer.email1}}"/>
				</td></tr>
				<tr><td>
					<br/>
					<div style="text-align:center">
						<ok-btn ng-click="commitPersonnel(selectedPer)">{{values.getValue('ok')}}</ok-btn>&#160;
						<button ng-click="closeModal()">{{values.getValue('cancel')}}</button>
					</div>
				</td></tr>
			</table>
			<div>
			</div>
			<div>
				<table>
				</table>
			</div>
		</div>
	</div>
</modal-dialog>

