<div ng-class="loading" style="float:left; z-index:1000"></div>
<panel-layout>
	<div name="center">
		<panel-div div-title="values.getValue('publications')" bg="selectedColor">
			<div name="buttons">
				<select ng-model="language" ng-change="changeLanguage(language)" ng-options="lang.name for lang in languages">
				</select>	
			</div>
			<div name="content">
				<div style="display:table-cell" class="subcontent">
					<div style="float:left;width:180px;height:200px;text-align:center" ng-repeat="pub in data.pubs">
					    <div style="height:150px">
					        <button style="background:none; border:none;height:100%;width:100%">
					            <img height="100%" src="http://crazytech.co:8010/wtlib/pubs/wt/{{pub.filename}}.jpg" />
					        </button>
					    </div>
					    <span style="font-size:12pt">{{pub.description}}</span>
					</div>
				</div>
			</div>
		</panel-div>
	</div>
</panel-layout>