
<!--
    <md-autocomplete #auto="mdAutoComplete">
        <md-option *ngFor="let mod of module" [value]="mod">
            {{mod.prgName}}
        </md-option>
    </md-autocomplete>
-->
<form>
    <md-input-container>
        <input mdInput placeholder="Programs" [formControl]="frmCtrl">
    </md-input-container>
</form>
<div class="container">
    <ul class="level0">
        <li *ngFor="let mod of modules">{{mod.prgName}}
        <ul class="level1">
            <li *ngFor="let submod of mod.subs">
                {{submod.prgName}}
                <ul class="level2">
                    <li *ngFor="let prg of submod.subs"><a href="">{{prg.prgName}}</a></li>
                </ul>
            </li>
        </ul>
        </li>
    </ul>
</div>