<div>
    <div><h4>{{template.docHeader.docTitle}}</h4></div>
    <div>
        <b>Header</b>
        <div *ngFor="let hField of template.headFields">
            <div>
                {{hField.fieldLabel}}
                <input type="{{hField.type}}" placeholder="{{hField.fieldLabel}}" value={{hField.defaultVal}}/>
            </div>
        </div>
    </div>
    <div>
        <b>Details</b>
        <div *ngFor="let dField of template.detFields">
            <div>
                <span>{{dField.fieldLabel}}</span>
                <input type="{{dField.type}}" placeholder="{{dField.fieldLabel}}" 
                    value={{dField.defaultVal}} pattern={{dField.pattern}}/>
            </div>
        </div>
    </div>
    <div>
        <button *ngFor="let bField of template.btnFields" type="{{bField.type}}">{{bField.fieldLabel}}</button>
    </div>  
</div>