<div style="border-radius:5px; box-shadow: 0px 0px 10px #888888;margin:5px">
	<div class="subtitle" style="background:{{$root.selectedColor.code}};background-size:50px 100%;color:{{$root.selectedColor.text}}"
		ng-click="expand()">
		<div style="display:inline-block;height:18px" ng-if="divTitle.length>0">
		{{divTitle}}
		</div>
		<div style="display:inline-block" ng-multi-transclude="header">
		</div>
		<div style="display:inline-block;float:right" ng-multi-transclude="buttons">
			
		</div>
	</div>
	<div style="padding:5px;font-size:12pt" ng-multi-transclude="content" ng-if="expanded==true"></div>
</div>